@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --font: 'Lato', sans-serif;
    --main-col: #c93b1e;
    --main-col-sa: #e65b3f;
    --card-bg: #f1f1f1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    min-width: 100vw;
    overflow-x: hidden;
}

/* Home Page */

body.mainpage {
    overflow-y: hidden;
}

section.main {
    margin: 0 10rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.main > h1 {
    font-size: 4rem;
    margin: 1.2rem;
}

section.main > h1 > span {
    color: var(--main-col);
}

section.main > form {
    display: flex;
    flex-direction: column;
}

section.main > form > #link {
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    width: 40rem;
}

section.main > form > button {
    font-family: inherit;
    padding: 0.5rem;
    background-color: var(--main-col);
    color: white;
    font-weight: 300;
    border: none;
}

section.main > form > button:hover {
    cursor: pointer;
}

section.blobs {
    position: relative;
}

section.blobs > div.blob1 {
    position: absolute;
    top: -17rem;
    right: -2rem;
    z-index: -1;
    animation: float1 8s ease-out infinite;
}

section.blobs > div.blob1 > svg {
    width: 350px;
}

section.blobs > div.blob2 {
    position: absolute;
    top: 10rem;
    left: -10rem;
    z-index: -1;
    animation: float 18s ease-out infinite;
}

section.blobs > div.blob2 > svg {
    width: 500px;
}

@keyframes float {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(100px, -40px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes float1 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

@media (max-width: 600px) {
    section.main > h1 {
        width: 20rem;
        font-size: 2rem;
        margin: 0.8rem;
        text-align: center;
    }

    section.main > form > #link {
        margin: 1rem 0rem;
        padding: 1rem 2rem;
        width: 20rem;
    }
}

/* Preview Page */

section.preview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

div.home > a {
    position: absolute;
    top: 6%;
    left: 6%;
    color: white;
    font-size: 1.5rem;
}

div.home > a:hover {
    color: #e6e6e6;
}

div.home > svg {
    position: absolute;
    top: -10rem;
    left: -10rem;
    width: 500px;
    z-index: -1;
    animation: rotate 20s ease-in-out infinite;
}

div.preview-card {
    background-color: var(--card-bg);
    padding: 2rem;
    border-radius: 10px;
    width: min-content;
}

div.preview-card > img {
    width: 35rem;
}

div.preview-card > p.site-name {
    width: 35rem;
    margin: 0.5rem 0;
    color: grey;
}

div.preview-card > p.title {
    width: 35rem;
    margin: 0.5rem 0;
    font-weight: 600;
}

div.preview-card > p.description {
    width: 35rem;
    margin: 1rem 0rem;
}

div.more-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.more-data-container > button {
    font-family: inherit;
    padding: 0.6rem 1rem;
    background-color: var(--main-col);
    color: white;
    font-weight: 300;
    border: none;
    margin: 1rem;
}

div.more-data-container > button:hover {
    cursor: pointer;
}

div.more-data {
    background-color: var(--card-bg);
    padding: 2rem;
    border-radius: 10px;
    width: 40rem;
    opacity: 0;
}

div.more-data > p {
    margin: 0.5rem 0rem;
}

.show-data {
    opacity: 1!important;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    div.home > a {
        position: absolute;
        top: 4%;
        left: 4%;
        color: grey;
        font-size: 1.5rem;
    }

    section.preview {
        padding-top: 5rem;
    }

    div.preview-card > img,
    div.preview-card > p.title,
    div.preview-card > p.site-name, 
    div.preview-card > p.description
    {
        width: 15rem;
    }

    div.more-data {
        width: 20rem;
    }
}